# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Output files
output_files/

# Files
pdf_concept_category/
vgnlp/
